{{> header}}

<main class="main-index">

    <article class="article-index">

        <section class="section-item">

            <h3 class="item-header">Владелец клуба</h3>
            <small class="text-muted">Ерёмин Сергей</small>
            <img src="img/owner.jpg" class="item-img">
            <button type="button" class="btn btn-primary" 
                    data-toggle="modal" data-target="#modal-owner">
                Подробнее
            </button>

        </section>
        
        <section class="section-item">

            <h3 class="item-header">Старший тренер</h3>
            <small class="text-muted">Шацкий Глеб</small>
            <img src="img/coach.jpg" class="item-img">
            <button type="button" class="btn btn-primary" 
                    data-toggle="modal" data-target="#modal-coach">
                Подробнее
            </button>

        </section>

        <section class="section-item">

            <h3 class="item-header">Помощник тренера</h3>
            <small class="text-muted">Белов Василий</small>
            <img src="img/assistant.jpeg" class="item-img">
            <button type="button" class="btn btn-primary" 
                    data-toggle="modal" data-target="#modal-assistant">
                Подробнее
            </button>

        </section>

        <section class="section-item">

            <h3>Российская лига</h3>
            <article class="statistic">
                <p>2 чемпионства</p>                    
            </article>

        </section>

        <section class="section-item">

            <h3>Рязанская лига</h3>
            <article class="statistic">
                <p>17 первых мест</p>
                <p>2 приз. мест</p>
            </article>

        </section>

        <section class="section-item">

            <h3>Жизнь клуба</h3>
            <article class="statistic">
                <p>8 лет в игре</p>  
                <p>30+ побед в год</p>                    
            </article>

        </section>

    </article>
    
</main>

<div class="modal fade" tabindex="-1" 
    role="dialog" id="modal-owner" 
    aria-hidden="true" aria-labelledby="exampleModalLabel"
>

    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Подробнее</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <div class="modal-body">
                <p>Ерёмин Сергей Александрович</p>
                <p>Сочи, Россия</p>
                <p>16.05.1968</p>
                <p>Предприниматель</p>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        
        </div>
    </div>

</div>

<div class="modal fade" tabindex="-1" 
    role="dialog" id="modal-coach" 
    aria-hidden="true" aria-labelledby="exampleModalLabel"
>

    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Подробнее</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <div class="modal-body">
                <p>Шацкий Глеб Степанович</p>
                <p>Рязань, Россия</p>
                <p>11.11.2001</p>
                <p>Футбольный тренер</p>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
    
        </div>
    </div>

</div>

<div class="modal fade" tabindex="-1" 
    role="dialog" id="modal-assistant" 
    aria-hidden="true" aria-labelledby="exampleModalLabel"
>

    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Подробнее</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <div class="modal-body">
                <p>Белов Василий Сергеевич</p>
                <p>Рязань, Россия</p>
                <p>05.02.2005</p>
                <p>Футболист-ассистент</p>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
    
        </div>
    </div>

</div>
