.avtorization, .registration {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: auto;
    padding-top: 2%;
    height: 57vh;
    width: 60vh;
    text-align: center;
}

.avtorizForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logout, .login {
    display: flex;
    justify-content: center;   
    box-shadow: 2px 2px 10px rgba(28, 153, 0, 0.5);
    border-radius: 10px;
    margin: 0 auto;
    /* text-align: center; */
    min-width: 30%;
    text-decoration: none;
}

.remarks-form {
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: end;
}